%footer
  %p
    My partner, Lilly, and I live in sunny Australia. I like to #{link_to 'paint', 'https://instagram.com/nathanhoad'}, #{link_to 'code', 'https://github.com/nathanhoad'}, and #{link_to 'make games', 'https://nathanhoad.itch.io'}.
  %p
    I write short stuff on #{link_to 'Twitter', 'https://twitter.com/nathanhoad'} and long stuff on #{link_to 'Medium', 'https://medium.com/nathanhoad'}.
  %p
    Sometimes I help tell stories for #{link_to 'ABC News', 'http://www.abc.net.au/news/nathan-hoad/8893522'}.