%article
  %header
    %h2= post_title(post)
    %aside
      = link_to_post post, "#{time_ago_in_words(post.published_at)}"
      &middot;
      = tags(post.tags)
  
  = text_to_html post.body, teaser: (post.link.nil? && defined? teaser), slug: post.slug
  
  %hr