%article
  %header
    %h2= post_title(post)
    %aside
      = link_to_post post, "<span data-date='#{post.published_at}'></span>"
      &middot;
      = tags(post.tags)
    - if post.link
      %cite
        = link_to post.link, post.link
  
  = text_to_html post.body, slug: post.slug