!!! XHTML 5
%html{html_attrs}
  %head
    %title= page_title
    %meta{ name: "description", content: page_description }/

    %meta{ property: 'og:title', content: page_title }/
    %meta{ property: 'og:description', content: page_description }/
    %meta{ property: 'og:image', content: page_image }/
    %meta{ property: 'og:url', content: url }/
    %meta{ property: 'og:type', content: 'article' }/
    %meta{ property: 'fb:admins', content: '218700192' }/
    %meta{ property: 'article:author', content: '218700192' }/
    
    %meta{ name: "author", content: "Nathan Hoad" }/
    %meta{ name: "verify-v1", content: "FJjra037EqYRGo8w0Atq5BHkBi8B+MPZSD+0jKQebLs=" }/
    %meta{ :'http-equiv' => "Content-type", content: "text/html;charset=UTF-8" }/
    
    %meta{ name: 'p:domain_verify', content: "5c8fe00840c14d6c92865fc017137b69" }/
    
    %meta{ name: "viewport", content: "width=device-width, minimum-scale=1.0, maximum-scale=1.0" }/
    %link{ rel: "apple-touch-icon", type: "image/png", href: "/images/apple-touch-icon.png" }/
    %link{ rel: "alternate", type: "application/rss+xml", href: "http://feeds.feedburner.com/nathanhoad", title: "NathanHoad.net RSS" }/
    %link{ rel: "icon", type: "image/png", href: "/images/favicon.png" }/

    %script{ src: "https://static.itch.io/api.js" }
    
    %style
      = @style
    
  %body
    %header
      %h1
        %a{ href: '/' }
          %img{ src: '/images/blog-header.png', alt: "Hi! I'm Nathan Hoad" }/
    
    %section
      = yield
    
    %footer
      &copy;
      = Time.now.year
      Nathan Hoad  

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-650804-3']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
      WebFontConfig = {
        google: { families: ['Arvo', 'Enriqueta', 'Gloria Hallelujah'] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
      
      (function() {
        [].slice.call(document.querySelectorAll('.buy-game')).forEach(function(button) {
          Itch.attachBuyButton(button, {
            user: "nathanhoad",
            game: button.getAttribute('data-game')
          });
        });
      })();
      
      #{@script}
