!!! XHTML 5
%html{html_attrs}
  %head
    %title= page_title
    %meta{ name: "description", content: page_description }/

    %meta{ property: 'og:title', content: page_title }/
    %meta{ property: 'og:description', content: page_description }/
    %meta{ property: 'og:image', content: 'https://nathanhoad.net/images/nathan-profile.png' }/
    
    %meta{ name: "author", content: "nathan hoad, nathanhoad.net" }/
    %meta{ name: "verify-v1", content: "FJjra037EqYRGo8w0Atq5BHkBi8B+MPZSD+0jKQebLs=" }/
    %meta{ :'http-equiv' => "Content-type", content: "text/html;charset=UTF-8" }/
    
    %link{ rel: "stylesheet", type: "text/css", href: '/stylesheets/bootstrap.css' }/
    %link{ rel: "stylesheet", type: "text/css", href: '/stylesheets/application.css' }/
    %meta{ name: "viewport", content: "width=device-width, minimum-scale=1.0, maximum-scale=1.0" }/
    %link{ rel: "apple-touch-icon", type: "image/png", href: "/images/apple-touch-icon.png" }/
    %link{ rel: "alternate", type: "application/rss+xml", href: "http://feeds.feedburner.com/nathanhoad", title: "NathanHoad.net RSS" }/
    %link{ rel: "icon", type: "image/png", href: "/images/favicon.png" }/

    %script{ type: 'text/javascript', src: '/javascripts/jquery.js' }
    %script{ type: 'text/javascript', src: '/javascripts/bootstrap.js' }
    %script{ type: 'text/javascript', src: '/javascripts/application.js' }
    %script{ type: 'text/javascript', src: '/javascripts/code_highlighter.js' }
    :plain
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
  %body
    %header
      %h1
        %a{ href: '/' }
          %span Nathan Hoad
    
    %section
      %hr
      = yield
      %hr
          
    %footer
      %h2
        %span
          Hi! I'm Nathan Hoad. I make #{link_to 'Athletable', 'https://athletable.com'}
          and #{link_to 'Slacker', 'https://slacker.nathanhoad.net'}.
      
      %section
        = link_to 'Twitter', 'http://twitter.com/nathanhoad'
        &middot;
        = link_to 'GitHub', 'http://github.com/nathanhoad'
        &middot;
        = link_to 'YouTube', 'https://www.youtube.com/channel/UCIdCxj0B9BXJ5tHXLgNWF6w'
        &middot;
        = link_to 'RSS', '/rss'
      
      %aside
        &copy;
        = Time.now.year
        Nathan Hoad

    %script{ type: 'text/javascript' }
      :plain
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-650804-3']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        (adsbygoogle = window.adsbygoogle || []).push({});