= partial post: @post

%hr

- if @post.body.length > 300
  = partial 'ad'

%hr

%aside
  - @post.related_posts.each do |tag, posts|
    %h3 Recent other posts tagged with #{link_to "##{tag}", "/tags/#{tag}"}
    %ul
      - posts.each do |post|
        %li= link_to_post post