= partial post: @post

%hr

-# ad: post-after
%ins{ class: "adsbygoogle", style: "display:inline-block;width:300px;height:250px", data: { "ad-client" => "ca-pub-3018396456569769", "ad-slot" => "2977675936" }}

%hr

%aside
  - @post.related_posts.each do |tag, posts|
    %h3 Recent other posts tagged with #{link_to "##{tag}", "/tags/#{tag}"}
    %ul
      - posts.each do |post|
        %li= link_to_post post