%header
  .alert.alert-danger
    The post titled 
    %em '#{h @keyword}'
    could not be found.
    - unless @posts.empty?
      There
      = "is 1 possibly similar post." if @posts.size == 1
      = "are #{@posts.size} possibly similar posts." if @posts.size != 1
    - else
      No similar posts could be found either.

- if @posts.empty?
  %article &nbsp;
- else
  = partial posts: @posts

%footer
  %h4
    Still lost? 
    = link_to 'Browse the archives', '/archive'